process.cache = 'deep'

import java.time.*
Date now = new Date()

workDir = '/projects/b1042/AndersenLab/work/'

params {
	day = now.format("yyyMMdd")
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
    out = "Analysis_Results-${day}"
    tracedir = "${out}"

}

// set up profiles
profiles {
    
    standard {
        params.report = false
        params.finemap = true
        params.burden = true
        executor {
            queueSize=200
        }
        process {
            maxRetries=3
        }
    }

    reports {
        params.report = true
        params.finemap = true
        params.burden = true
        process {
            maxRetries=3
        }
        executor {
            queueSize=200
        }
    }

    manplot {
        params.report = false
        params.finemap = false
        params.burden = false
        process {
            errorStrategy='ignore'
        }
        executor {
            queueSize=500
            submitRateLimit=10
        }
    }


}

report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}

timeline {
	enabled = true
	file = "${params.tracedir}/${params.timestamp}_timeline.html"
}


process {
	conda = "/projects/b1059/software/conda_envs/cegwas2-nf_env"
	module = 'R/3.6.0'
}
